# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/corporate-Frontend/node_modules

# testing
/coverage

# production
/corporate-Frontend/build
/bin
/.vscode

# backend
/corporate-Backend

/sslLocal


# misc
.DS_Store
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
